<h1><%= @project.title %></h1>

<p>
   <strong>ID: </strong> <%= @project.id %><br />
   <strong>Description: </strong> <%= @project.description %><br />
</p>

<hr />

<%= link_to 'Back', {:action => 'list'} %>